PORT=5000
NODE_ENV=development
MONGODB_URI=
JWT_SECRET=scholarship_ai_secret_key_super_secure_2026
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173

# Nodemailer / SMTP Email Configuration
# For Gmail: service=gmail, SMTP_USER=your_email@gmail.com, SMTP_PASS=your_16_char_app_password
SMTP_SERVICE=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM="ScholarAI Support" <no-reply@scholarship.org>
